{% if false %}
  {{ trmnl.plugin_settings.custom_fields_values.spotify_client_id }}
  {{ trmnl.plugin_settings.custom_fields_values.spotify_client_secret }}
  {{ trmnl.plugin_settings.custom_fields_values.spotify_refresh_token }}
{% endif %}

<div class="layout">
  <div class="columns">
    <div class="column">
      <span class="label">Top Artists</span>
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label--small">Rank</span></th>
            <th><span class="label label--small">Artist</span></th>
            <th><span class="label label--small">Genre</span></th>
          </tr>
        </thead>
        <tbody>
          {% for artist in top_artists %}
          <tr>
            <td><span class="title title--small">{{ artist.rank }}</span></td>
            <td><span class="title title--small">{{ artist.name }}</span></td>
            <td><span class="label">{{ artist.genres }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="column">
      <span class="label">Top Tracks</span>
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label--small">Rank</span></th>
            <th><span class="label label--small">Track</span></th>
            <th><span class="label label--small">Artist</span></th>
          </tr>
        </thead>
        <tbody>
          {% for track in top_tracks %}
          <tr>
            <td><span class="title title--small">{{ track.rank }}</span></td>
            <td><span class="title title--small">{{ track.name }}</span></td>
            <td><span class="label">{{ track.artist }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="column">
      <span class="label">Recently Played</span>
      <table class="table">
        <thead>
          <tr>
            <th><span class="label label--small">Rank</span></th>
            <th><span class="label label--small">Track</span></th>
          </tr>
        </thead>
        <tbody>
          {% for track in recently_played %}
          <tr>
            <td><span class="title title--small">{{ track.rank }}</span></td>
            <td><span class="label">{{ track.name }}</span> • <span class="label label--small">{{ track.played_at }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="title_bar">
  <span class="title">Spotify - Listening Stats</span>
  <span class="instance">{{ time_range_label }}</span>
</div>